* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.header1--modificaciones {
  background-color: #f2f2f2;
  color: #ff2800;
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.header1__h1--modificaciones {
  font-family: "Dancing Script", cursive;
  text-align: left;
  font-size: 10rem;
  letter-spacing: 4px;
  margin-top: 1rem;
  padding: 2rem;
  -webkit-animation-name: color;
          animation-name: color;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes color {
  0% {
    color: #ff2800;
  }
  25% {
    color: #c19911;
  }
  50% {
    color: #ffd60a;
  }
  75% {
    color: #c19911;
  }
  100% {
    color: #ff2800;
  }
}

@keyframes color {
  0% {
    color: #ff2800;
  }
  25% {
    color: #c19911;
  }
  50% {
    color: #ffd60a;
  }
  75% {
    color: #c19911;
  }
  100% {
    color: #ff2800;
  }
}
.header1__logo--animacion {
  margin-left: 2rem;
  width: 300px;
  height: 200px;
  overflow: hidden;
  margin: 10px;
  position: relative;
  -webkit-animation-name: rotar;
          animation-name: rotar;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes rotar {
  0% {
    transform: rotateY(90deg);
  }
  25% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  75% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes rotar {
  0% {
    transform: rotateY(90deg);
  }
  25% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  75% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
.nav1--propiedades {
  background-image: linear-gradient(#f3efb2, #e54819);
  text-align: center;
  width: 100%;
}

.nav1--propiedades:hover {
  background-color: transparent;
}

.nav1__ul--propiedades {
  list-style: none;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav1__li--modificaciones {
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 0 10px 0 0;
  font-size: 1.5rem;
}

.nav1__a--modificaciones {
  padding: 2px 7px 2px 7px;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: bold;
  color: #ff2800;
  border: 1px solid;
  border-radius: 5px;
  background-color: #e0ffff;
  text-decoration: none;
}

.nav1__a--modificaciones:hover {
  background-image: linear-gradient(#f3efb2, #e54819, #e54819, #f3efb2);
  color: white !important;
}

.section1--propiedades {
  background-color: #f2f2f2;
  height: auto;
}

.section1__h2--modificaciones {
  color: #ff8c00;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  margin-top: 5px;
  margin-bottom: 5px;
  letter-spacing: 5px;
}

.card {
  display: inline-flex;
  border: 1px #ff2800 solid;
  background-color: #f2f2f2;
  width: 12rem;
  height: auto;
  margin-left: 40px;
  margin-bottom: 30px;
  box-shadow: 0px 10px 10px -6px black;
}

.card-img-top {
  width: auto;
  height: 15rem;
}

.card-body {
  padding: 0px;
  text-align: center;
  height: 7rem;
}

.card-title {
  font-size: 1.4rem;
  margin-top: 10px;
}

.card-text {
  margin-bottom: 0px;
}

.btn-primary {
  background-color: #f2f2f2;
  color: #ff2800;
  font-weight: bold;
  border: #ff8c00;
  transition: 3ms;
}

.btn-primary:hover {
  background-image: linear-gradient(#f3efb2, #e54819, #e54819, #f3efb2);
}

.section1__p--modifiaciones {
  display: flex;
  text-align: justify;
  margin-bottom: 20px;
  color: grey;
  font-size: 1.5rem;
}

.section1__h3--modificaciones {
  color: grey;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 25px;
  margin-left: 5%;
}

.section1__ul--modificaciones {
  list-style: none;
  margin-left: 28.5%;
}

.section1__li--modificaciones {
  margin: 10px;
  padding: 10px;
  letter-spacing: 2px;
}

.section1__a--modificaciones {
  font-weight: bold;
  text-decoration: none;
  font-size: 30px;
  color: #808080;
  transition: 300ms;
}

.section1__a--modificaciones:hover {
  color: #ff8c00;
  transition: 300ms;
  margin-left: 10px;
  text-transform: uppercase;
}

#listaEventos {
  text-decoration: none;
}

.iframe {
  display: flex;
  margin-left: 50%;
  padding: 5px;
}

.footer1--propiedades {
  background-image: linear-gradient(#f3efb2, #e54819);
}

.footer1__ul--propiedades {
  text-align: center;
  margin-top: 10px;
}

.footer1__p--modificaciones {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.footer1__li--propiedades {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 0px;
}

.footer1__a--modificaciones {
  display: inline;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.d-block {
  border-radius: 10px;
  width: 100%;
}

#formulario {
  display: block;
  letter-spacing: 1px;
  margin-top: -20px;
}

.mover--form {
  margin-left: 35%;
}

label {
  width: 20%;
}

.input {
  width: 42%;
}

.boton1 {
  letter-spacing: 1px;
  margin-left: 10%;
  margin-right: 5%;
}

.boton1,
.boton2 {
  margin-top: 10px;
  background-color: #f2f2f2;
  color: #ff2800;
  font-weight: bold;
  border: #ff8c00;
  transition: 3ms;
}

.boton1:hover {
  background-image: linear-gradient(#f3efb2, #e54819, #e54819, #f3efb2);
  color: #f2f2f2;
}

.boton2:hover {
  background-image: linear-gradient(#f3efb2, #e54819, #e54819, #f3efb2);
  color: #f2f2f2;
}

.container {
  margin-top: 50px;
}

.formlogin {
  width: 50%;
  display: block;
  margin: auto;
}

.formlogin--recuperar {
  font-size: 15px;
  display: block;
  margin-left: 24rem;
  margin-top: -3rem;
}

.btn1 {
  margin-left: 25%;
}

.btn2 {
  margin-left: 20px;
}

.btn1,
.btn2 {
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.redesSociales {
  text-align: center;
  font-size: 25px;
  display: flex;
}

.redesSociales__ul--propiedades {
  list-style: none;
  margin-left: 34rem;
}

.redesSociales__li--modificaciones {
  display: inline;
  margin: 20px;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}

.fab {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 30px;
  border-radius: 10px;
  color: #808080;
  transition: 300ms;
}

.fab:hover {
  transform: translateY(-3px);
  font-size: 30px;
  color: #f2f2f2;
  transition: 300ms;
}

.fa-facebook:hover {
  background-color: #1877f2;
  transition: 300ms;
}

.fa-instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.fa-twitter:hover {
  background: #1d9bf0;
}

.fa-whatsapp:hover {
  background: #00e676;
}

@media only screen and (max-width: 480px) {
  #logotipo {
    display: none;
  }

  #mapa {
    margin-left: -70px;
  }

  .footer1__p--modificaciones {
    display: block;
    margin-top: 20px;
  }

  .card {
    margin-left: 20px !important;
    margin-top: 20px;
  }

  .section1__ul--modificaciones {
    margin-left: 10px;
  }

  .section1__a--modificaciones {
    font-size: 30px;
  }

  iframe {
    margin-left: 0px !important;
    width: 90% !important;
  }

  #formulario {
    display: block;
  }

  .mover--form {
    margin-left: -5%;
    margin-top: 50px;
  }

  .espacionombre,
.espaciogifcards {
    width: 30%;
    margin-bottom: 5px;
    display: inline;
    margin-bottom: 10px !important;
  }

  .formlogin--recuperar {
    margin-left: 7rem;
  }

  .redesSociales__ul--propiedades {
    margin-left: 15PX;
  }

  .modicuadro {
    width: 90%;
    margin-bottom: 10px;
  }

  .input {
    width: 90%;
  }
}
@media only screen and (max-width: 600px) {
  .header1__h1--modificaciones {
    font-size: 80px;
    margin-left: -35px;
  }

  .header1__logo--animacion {
    height: 60%;
    margin-left: -50px;
  }

  .nav1--propiedades {
    margin: 0px auto !important;
  }

  .section1__h2--modificaciones {
    text-align: center;
  }

  iframe {
    margin-left: 20%;
  }

  .section1--propiedades {
    height: auto;
    padding-bottom: 10%;
  }

  .section1__h3--modificaciones {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 9%;
  }

  .proxi {
    width: 100%;
    height: 100%;
  }

  form {
    margin-left: 5%;
  }

  .card {
    margin-left: 55px;
  }

  .asideocultar {
    display: none;
  }

  .input {
    width: 75%;
  }

  #formulario {
    margin-left: 15%;
  }

  .boton1 {
    margin-left: 20%;
  }

  .formlogin {
    margin-left: 27%;
  }

  .espacionombre,
.espaciogifcards {
    width: 30%;
    margin-bottom: 5px;
    display: block ruby;
  }

  .modicuadro {
    width: 90%;
    margin-bottom: 10px;
  }

  iframe {
    margin-left: 50%;
  }

  .input {
    width: 90%;
  }

  .footer1__ul--propiedades {
    text-align: center;
    margin-top: 15px;
  }
}/*# sourceMappingURL=style.css.map */